<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>passing data to ejs</title>
</head>
<body>
    <h1>
       dice: <%=Math.floor(Math.random()*6)+1%><!--Math.floor to remove decimal and give before point num 6 num size +1-->
    </h1>
</body>
</html>